.character-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 7.5rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 3px solid goldenrod;
  overflow: hidden;

  p {
    background-color: goldenrod;
  }
}
