.main {
  text-align: center;
}
.character-detail-card {
  background-color: rgb(80, 0, 0);
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  position: relative;

  p {
    color: whitesmoke;
  }
}
.details {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}
.button {
  color: white;
  text-decoration: none;
  font-size: x-large;
  display: flex;
  position: absolute;
  top: -30px;
  right: 0;
}
